.cursor-grab {
    cursor: grab;
}

.sortable {
    .i-Cursor-Move {
        cursor: grab;
    }

    .ui-sortable-helper,
    .ui-sortable-helper * {
        cursor: grabbing !important;
    }

}

.select2-container--default {
    .select2-selection--multiple {
        background: $gray-100;
        border: 1px solid $gray-400;
        min-height: calc(2.2695rem + 2px);
        padding: 0 0.75rem;

        .select2-selection__choice {
            background-color: $background;
        }
    }

    .select2-results__option--disabled {
        display: none;
    }

    .select2-selection--single {
        background: $gray-100;
        color: $foreground !important;
        margin-top: 0;
        padding: 0.375rem 0.75rem;
        border: 1px solid $gray-400;
        min-height: calc(2.2695rem + 2px);

        .select2-selection__rendered {
            padding-left: 0;
            padding-right: 20px;
        }
    }

    .select2-selection--single .select2-selection__arrow {
        right: 17px;
        left: auto;
        top: 7px;
    }

    .select2-selection--multiple .select2-selection__clear {
        color: $foreground;
    }

    .select2-selection--single .select2-selection__rendered {
        color: $foreground;

    }
}

.select2-container {
    width: 100% !important;

    .select2-search--inline {
        .select2-search__field {
            background: $gray-100;
            color: $foreground;
            margin-top: 0;
            padding: 0.375rem 0;

            &::placeholder {
                color: $gray-500;
            }
        }
    }

    *:focus {
        outline: none;
    }
}

.select2-dropdown {
    z-index: 80;
}

.select2-container--open .select2-dropdown--above,
.select2-container--default .select2-search--dropdown .select2-search__field {
    color: $foreground;
}

.select2-selection__clear {
    display: none;
}

.multi_language_inputs {
    display: none;
}

.languages_label {
    cursor: pointer;
    line-height: normal;
    max-height: 20px;

}

.ck * {
    font-family: $font-family-base !important;
}

.ck-content {
    max-height: 300px;
}

.nav-tabs {
    padding-right: 0;
}

.alert .messages-ul {
    margin-bottom: 0;
}

.menu-icon-grid {
    >a {
        padding: 12px;

        &.active {
            background: $primary;
            color: $white;
        }
    }
}

.form-control {
    height: calc(2.3695rem + 2px) !important;
}

.dataTables_wrapper {

    input,
    select {
        height: auto !important;
    }



}

.breadcrumb ul li a.active {
    color: $primary-base;
}

.main-header {
    .logo {
        img {
            width: 40px !important;
            height: auto !important;
        }
    }

}

.auth-logo {
    img {
        height: 125px;
        width: auto;
    }
}






@import "rtl.scss";
